<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant App</title>
    <link rel="stylesheet" href="/stylesheets/global.css">

</head>

<body>

    <header>
        <h1>Welcome to the Restaurant App</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                {{#if isLoggedIn}}
                    <li><a href="/restaurants">View Restaurants</a></li>
                    <li><a href="/restaurants/add">Add Restaurants</a></li>
                    <li><a href="/search">Search</a></li>
                    <li><a href="/logout">Logout</a></li>
                {{else}}
                    <li><a href="/login">Login</a></li>
                {{/if}}
            </ul>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        <p>test user | Final project</p>
    </footer>
</body>

</html>



